# DATABASE CONNECTION
DATABASE_URL=

#BASE URL TO SUPABASE BUCKETS
SUPABASE_URL=

#SUPABASE KEY
SUPABASE_KEY=

#APPLICATION PORT
PORT=

#JWT SECRETS
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

#EMAIL CREDENTIALS
SENHA_DE_APP=
EMAIL=

#CREDENTIALS FOR SOCIAL LOGIN
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
